/*******GENERAL*******/

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;    
    background-color: aliceblue;
    color: purple;
    /* overflow-y: scroll; */
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: chartreuse;
}

::-webkit-scrollbar-track {
    background: rgb(205, 205, 255);
    border-radius: 5px;
    box-shadow: inset 0 0 3px grey;
}

/*********LAYOUT*********/

.layout {

}

.navbar {
    
}

.sidebar {
    
}

.main {
    
}

.inner-gradient-border-div {
    
}

.techs-used {
    
}

.tech-item {
    
}

.footer {

}

/*******NAVBAR*******/

.navbar {
    color: purple;
    margin-top: 10px;
}

.navbar-item {
    display: inline-block;
    font-family: "Raleway";
    font-weight: 600;
}

.navbar-item a {
    text-decoration: none;
    border: transparent 1px solid;
    padding: 5px;
}

.navbar-item, 
.navbar-item a:visited {
    color: purple;
}

.navbar-item a:focus,
.navbar-item a:hover {
    color: chartreuse;
    border: chartreuse 1px solid;
}

.selected a {
    border: purple 1px solid;
    border-radius: 2px;
}

/*************SIDEBAR************/

.sidebar {
    margin-top: 50px;
    text-align: left;
    width: 20%;
    float: left;
}

.sidebar-link {
    padding: 10px 0 10px 35px;
    font-family: "Raleway";
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: lightgrey;
}

/************MAIN**********/

main {
    width: 80%;
    margin: auto;
    /* float: right; */
}

/*******INTRODUCTION*******/

.outer-gradient-border-div {
    background-image: linear-gradient(lavender, purple);
    height: 300px;
    margin-top: 100px;
}

.inner-gradient-border-div {
    width: 98%;
    height: 300px;
    background-color: aliceblue;
    margin: 0 auto;
}

.inner-gradient-border-div img {
    float: left;
    margin-left: 50px;
}

.introduction {
    font-family: "Raleway";
    font-weight: 600;
    width: calc(100% - 250px);
    margin: 0 auto;
    padding-top: 50px;
    clear: left;

    background: -webkit-linear-gradient(lavender, purple);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name {
    font-size: 32px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.job-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.bio {
    font-size: 12px;
    line-height: 24px;
}

video {
    position: absolute;
    bottom: 0;
    left: 0;
}

/***********TECHS USED***********/

.techs-used {
    width: 60%;
    height: 200px;
    margin: 50px auto 0;
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}

.tech-item {
    position: relative;
    animation: mymove 2s infinite;
}

/*******FOOTER*******/

.footer {
    line-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}