/*******GENERAL*******/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 70%;
    margin: 50px 15% 0;
    text-align: center;    
    background-color: aliceblue;
    color: purple;
    overflow-y: scroll;
}

/*******INTRODUCTION*******/

.outer-gradient-border-div {
    background-image: linear-gradient(lavender, purple);
}

.inner-gradient-border-div {
    width: 98%;
    background-color: aliceblue;
    margin: auto;
}

.introduction {
    font-family: "Raleway";    
    padding: 2em;
    font-weight: 600;

    /*This portion adds a gradient color to the text*/
    background: -webkit-linear-gradient(lavender, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#name {
    margin-bottom: 20px;
    text-decoration: underline;
}

#job-title {
    margin-bottom: 15px;
}

#bio {
    line-height: 24px;
}

/*******TOP TEN LIST*******/

#top-ten {
    margin: 2rem 0;
    font-family: "Raleway";
    text-align: left;
}

#top-ten__description {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

#top-ten__list {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

ol {
    list-style: decimal;
}

#top-ten__list__group {
    
}

/*******FOOTER*******/

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 10px 0;
    margin: 0 25%;
}