/*
  green = #0daa22
  darkgrey = #262528
  blue = 001aff
*/

@import "main.css";
@import "intro.css";
@import "toolkit.css";
@import "projects.css";
@import "footer.css";
@import "media-queries.css";

/*******************GENERAL*****************/

html {
  font-size: 62.5%;
  font-family: "Raleway";
}

body {
  background-color: #262528;  
}

a {
  color: #333;
}

a:visited {
  color: #333;
}

a:hover {
  color: #001aff;
}

mark {
  padding: 0 5px;
  font-weight: bold;
}