
/*******************INTRODUCTION*****************/

.introduction__job-title,
.introduction__bio {
  padding-top: 15px;
}

.introduction {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  border-top: none;
  clear: both;
  overflow: hidden;
}

.introduction__pic {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.introduction__info {
  margin-top: 15px;
}

.introduction__job-title {
  font-size: 2.5em;
}

.introduction__bio {
  text-align: justify;
  font-size: 1.6em;
  line-height: 2em;
  font-weight: 500;
}