
/*******************INTRODUCTION*****************/

.introduction__job-title,
.introduction__bio {
  padding-top: 15px;
}

.introduction {
  color: white;
  text-align: center;
  box-sizing: border-box;
  clear: both;
  overflow: hidden;
  background-color: #262528;
  position: relative;
}

.introduction__pic {
  border-radius: 50%;
  display: block;
  margin: auto;
  border: #fff solid;
  max-width: 25.454545454%;
}

.introduction__name,
.introduction__job-title {
  color: #0dcf27;
  font-weight: bold;
}

.introduction__info {
  margin-top: 15px;
}

.introduction__job-title {
  font-size: 1.6em;
}

.introduction__bio {
  text-align: justify;
  font-size: 1.4em;
  line-height: 2em;
  font-weight: 500;
}

.introduction__pic, .introduction__info {
  margin-bottom: 30px;
}