
/*******************PROJECTS*****************/

.projects {
  color: #fff;
  position: relative;
}

.projects__projects {
  padding-top: 30px;
  font-weight: 500;
}

.project {
  margin: 0 auto 30px;
  border-bottom: solid #0dcf27;
}

.project:last-of-type {
  border-bottom: none;
}

.thumbnail-image {
  border-bottom: 2px solid #262528;
}

.thumbnail-link {
  padding-top: 15px;
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.thumbnail-description {
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: justify;
  margin: auto;
}