
/*******************PROJECTS*****************/

.projects {
  color: #fff;
}

.projects__projects {
  padding-top: 30px;
  font-weight: 500;
}

.project {
  margin: 0 auto 30px;
}

.thumbnail-link {
  display: block;
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  transition: all 400ms ease;
}

.thumbnail-description {
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.6em;
  text-align: center;
  margin: auto;
}