
/*******************PROJECTS*****************/

.projects {
  color: #fff;
  position: relative;
}

.projects__projects {
  padding-top: 30px;
  font-weight: 500;
}

.project {
  margin: 0 auto 15px;
  border-bottom: 2px solid #0dcf27;
}

.project:last-of-type {
  border-bottom: none;
}

.thumbnail-image {
  width: 100%;
  border-bottom: 2px solid #262528;
}

.thumbnail-link {
  padding-top: 15px;
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.thumbnail-description {
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: justify;
}

/* .thumbnail-container {
  background-color: rgb(255, 255, 255);
  width: calc(1440px * 0.25);
  height: calc(900px * 0.25);
  overflow: hidden;
  position: relative;
  margin: 10px auto 0;
}

.thumbnail {
  position: relative;
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  transform: scale(0.25);
  transform-origin: 0 0;
  width: 1440px;
}

.thumbnail::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.thumbnail iframe {
  width: 1440px;
  height: 900px;
  opacity: 0;
  transition: all 1s ease;
} */