a:visited {  
  color: #fff;
}

a:hover {
  color: #0dcf27;
}

.traverse-sections:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #0dcf27;
  color: #262528;
}

.thumbnail-link:hover {
  color: #262528;
  background-color: #0dcf27;
}