
/*******************TOOLKIT*****************/

.toolkit {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.toolkit__article {
  display: grid;
  align-content: center;
  justify-items: center;
  box-sizing: border-box;
  color: white;
}

.toolkit__article i {
  width: 100%;
  font-size: 3em;
  text-align: center;
}

.toolkit__article p {
  padding-top: 30px;
  box-sizing: border-box;
  font-size: 1.4em;
  line-height: 2em;
  text-align: justify;
}