
/*******************TOOLKIT*****************/

.toolkit__article {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 33.33vh;
  box-sizing: border-box;
  color: white;
  border-top: solid #0dcf27;
}

.toolkit__article i {
  width: 100%;
  font-size: 3em;
  text-align: center;
}

.toolkit__article p {
  padding-top: 30px;
  box-sizing: border-box;
  font-size: 1.4em;
  line-height: 2em;
  text-align: justify;
}